.Videocard {
  width: 17rem;
  height: 220px;
  margin-top: 1rem;
  background: white;
  overflow: hidden;
  border-radius: 8px;
}
.Videocard img {
  height: 8rem;
}
.channel_name {
  font-size: 12px;
  color: black;
  opacity: 0.8;
}
.videoTitle {
  font-size: 14px;
  color: black !important;
}
.videInfo img {
  height: 3rem;
  width: 3rem;
  align-self: center;
}
.videInfo {
  display: flex;
  gap: 1rem;
}
.videoInfo p {
  margin: 0 !important;
}
.views {
  font-size: 12px !important;
}
/* .channel_name{
  font-size:13px;
} */
